


<div class="row">

<div class="sixcol">

<h2>Pick a Game</h2>

<div>
<% @games.each do |game| %>
  <p><%= link_to game.name, game_path(game) %></p>
<% end %>
</div>

</div>

<div class="sixcol last">

<h2>Upcoming Events</h2>

<div>
<% @events.each do |event| %>
  <p><%= link_to "#{event.start_date} #{event.game.name}", game_event_path(event.game, event) %> 
      @ <%= event.site %></p>
<% end %>
</div>

</div>

</div>

<div class="spacer" style="height: 2em">&nbsp;</div>

<% if @logged_in_user and @logged_in_user.global_admin? %>

<div class="row">

<div class="sixcol">

<h2>Global Admin</h2>

<p><%= link_to "Administer Games", games_path %></p>
<p><%= link_to "Administer Users", users_path %></p>

</div>

<div class="sixcol last">
&nbsp;
</div>

</div>

<% end %>

