<%= form_for [@game,@currency] do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @currency} %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Currency</legend>

    <div class="form-group">
      <%= f.label :name %>
      
        <%= f.text_field :name, :class => 'form-control' %>
      
    </div>

    <div class="form-group">
      <%= f.label :short_name %>
      
        <%= f.text_field :short_name, :class => 'form-control' %>
     
    </div>

    <div class="form-group">
      <%= f.label :starting_amount %>
     
        <%= f.number_field :starting_amount, :class => 'form-control' %>
     
    </div>
    <div class="form-group">
      <%= f.label :cap %>
     
        <%= f.number_field :cap, :class => 'form-control' %>
     
    </div>
    <div class="form-group">
      <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
      <%= link_to 'Cancel', game_currencies_path(@game), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
