<h1>/Currency</h1>

<p>
  <b>Name</b><br>
  <%= @currency.name %>
</p>

<p>
  <b>Short name</b><br>
  <%= @currency.short_name %>
</p>
<p>
  <b>Starting Amount</b><br>
  <%= @currency.starting_amount %>
</p>
<p>
  <b>Yearly cap</b><br>
  <%= @currency.yearly_cap %>
</p>


<p>
  <b>Game</b><br>
  <%= @currency.game_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', game_currencies_path(@game), :class => 'btn'  %>
  <%= link_to 'Edit', edit_game_currency_path(@game,@currency), :class => 'btn' %>
  <%= link_to 'Delete', game_currency_path(@game,@currency), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-default btn-danger' %>
</div>
