<%= form_for [@game,@registration] do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @registration} %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Registration</legend>

    <div class="form-group">
      <%= f.label :event_id %>
        <%= f.number_field :event_id, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :member_id %>
        <%= f.number_field :member_id, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :character_id %>
        <%= f.number_field :character_id, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :is_paid %>
        <%= f.check_box :is_paid, :class => 'check_box' %>
    </div>

    <div class="form-group">
      <%= f.label :is_present %>
        <%= f.check_box :is_present, :class => 'check_box' %>
    </div>

    <div class="form-group">
      <%= f.label :is_prereged %>
        <%= f.check_box :is_prereged, :class => 'check_box' %>
    </div>

    <div class="form-group">
      <%= f.label :setup_cleanup %>
        <%= f.check_box :setup_cleanup, :class => 'check_box' %>
    </div>

    <div class="form-group">
      <%= f.label :cp_game_id %>
        <%= f.number_field :cp_game_id, :class => 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
      <%= link_to 'Cancel', game_registrations_path(@game), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
