<h1>/Registration</h1>

<p>
  <b>Event</b><br>
  <%= @registration.event_id %>
</p>

<p>
  <b>Member</b><br>
  <%= @registration.member_id %>
</p>

<p>
  <b>Character</b><br>
  <%= @registration.character_id %>
</p>

<p>
  <b>Is paid</b><br>
  <%= @registration.is_paid %>
</p>

<p>
  <b>Is present</b><br>
  <%= @registration.is_present %>
</p>

<p>
  <b>Is prereged</b><br>
  <%= @registration.is_prereged %>
</p>

<p>
  <b>Setup cleanup</b><br>
  <%= @registration.setup_cleanup %>
</p>

<p>
  <b>Cp game</b><br>
  <%= @registration.cp_game_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', game_registrations_path(@game), :class => 'btn'  %>
  <%= link_to 'Edit', edit_game_registration_path(@game,@registration), :class => 'btn' %>
  <%= link_to 'Delete', game_registration_path(@game,@registration), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
