<%= form_for [@game,@skill], :html => { :class => 'form-horizontal' } do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @skill} %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Skill</legend>


    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :summary, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :summary, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :min_rank, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :min_rank, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :max_rank, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :max_rank, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :rule, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :rule, :class => 'text_area' %>
      </div>
    </div>
    
    
    <div class="control-group">
      <%= f.label :cost, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :cost, :class => 'text_area' %>
      </div>
    </div>
    
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
      <%= link_to 'Cancel', game_skills_path(@game), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
