<h1>/Skill</h1>

<p>
  <b>Game</b><br>
  <%= @skill.game_id %>
</p>

<p>
  <b>Name</b><br>
  <%= @skill.name %>
</p>

<p>
  <b>Summary</b><br>
  <%= @skill.summary %>
</p>

<p>
  <b>Description</b><br>
  <%= @skill.description %>
</p>

<p>
  <b>Max rank</b><br>
  <%= @skill.max_rank %>
</p>
<h2>Tags</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Gives?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @skill.skill_tags.each do |skill_tag| %>
      <tr>
        
        <td><%= skill_tag.tag.name %></td>
        <td><%= skill_tag.gives %></td>
        <td>
          <%= link_to 'Destroy', game_skill_path(@game,@skill)+"/remove_tag?skill_tag_id="+skill_tag.id.to_s , :method => :put, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-default btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Add a Tag</h2>
<%= form_for @skillTag, :url => game_skill_path(@game,@skill)+"/add_tag", :method=>:put ,:html => { :class => 'form-horizontal' } do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @skillTag} %>
  <fieldset>
    <%= f.hidden_field(:skill_id) %>
    <div class="form-group">
      <%= f.label "Select a tag", :class => 'control-tag' %>
      <div class="controls">
        <%= f.select(:tag_id, options_from_collection_for_select(@game.tags.unaffiliated_by_skill(@skill) , "id", "name")) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Does this skill give this tag?", :class => 'control-tag' %>
      <div class="controls">
        <%= f.check_box(:gives) %>
      </div>
    </div>
    <%= f.submit "Add Tag", :class => 'btn btn-default btn-primary' %>
  </fieldset>
<% end %>


<div class="form-actions">
  <%= link_to 'Back', game_skills_path(@game), :class => 'btn'  %>
  <%= link_to 'Edit', edit_game_skill_path(@game,@skill), :class => 'btn' %>
  <%= link_to 'Delete', game_skill_path(@game,@skill), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-default btn-danger' %>
</div>
