<div class="row">

<div class="col-md-2">&nbsp</div>

<div class="col-md-8">
<h2>Please log in</h2>

<%= form_tag session_path do %>
<table>
<tr>
  <td><%= label_tag :email %></td> 
  <td><%= text_field_tag :email %></td>
</td>
<tr>
  <td><%= label_tag :password %></td> 
  <td><%= password_field_tag :password %></td>
</td>
<tr>
  <td>&nbsp;</td>
  <td><%= submit_tag "Log In" %></td>
</tr>
</table>
<% end %>

<h2>Register</h2>
<p><%= link_to "Register", new_user_path %></p>
</div>

<div class="col-md-2">&nbsp;</div>

</div>
