<h2>
  Please log in</h2>

<%= form_tag session_path do %>

  <div class="form-group">
    <%= label_tag :email %>
      <%= text_field_tag :email, nil,{class: "form-control","aria-describedby": "emailHelp",placeholder: "Enter email"} %>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <%= label_tag :password %>
      <%= password_field_tag :password, nil,{class: "form-control",placeholder: "Password"} %>
  </div>

  <%= submit_tag "Log In", {class: "btn btn-primary"} %>

    <% end %>








      <p>
        <%= link_to "Not a member yet? Register Here!", new_user_path %>
      </p>