<%= form_for [@game,@event] do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @event} %>

    <legend><%= controller.action_name.capitalize %> Event</legend>


    <div class="form-group">
      <%= f.label :start_date %>
        <%= f.datetime_select :start_date, :class => 'form-control' %>

    </div>

    <div class="form-group">
      <%= f.label :end_date %>
        <%= f.datetime_select :end_date, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :site %>
        <%= f.text_area :site, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :notes %>
        <%= f.text_area :notes, :class => 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :player_cap %>
        <%= f.number_field :player_cap, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
      <%= link_to 'Cancel', game_events_path(@game), :class => 'btn' %>
    </div>
<% end %>
