<h1>Events</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Game</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan=4>
	Upcoming Events
      </td>
    </tr>
    <% @events.upcoming.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= link_to event.start_date, game_event_path(@game,event) %></td>
        <td><%= event.created_at %></td>
        <td>
	  <%= render :partial => "registration_buttons", :locals => { :event => event } %>
          <%= link_to 'Edit', edit_game_event_path(@game,event), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', game_event_path(@game,event), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan=4>
	Past Events
      </td>
    </tr>
    <% @events.past.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= link_to event.start_date, game_event_path(@game,event) %></td>
        <td><%= event.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_game_event_path(@game,event), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', game_event_path(@game,event), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_game_event_path(@game), :class => 'btn btn-primary' %>
