<div class="row">
    <div class="col"><%= award.amount %></div>
    <div class="col"><%= award.currency.name %></div>
    <div class="col"><%= award.comment %></div>
    <div class="col"><%= award.created_by.name %></div>
    <div class="col"><%= award.approved_by.name %></div>
    <div class="col"><%= award.created_at %></div>
    <div class="col">
    <% if(@current_member.is_admin) %>
        <%= form_for [@game,award] do |f| %>
            <div class="control-group">
            <%= f.label :character_id %>
            <div class="controls">
            <%= f.select :character_id, options_from_collection_for_select(member.characters, "id", "name") %>
            </div>
            </div>
            <div class="form-actions">
            <%= f.submit "Assign Award", :class => 'btn btn-default btn-primary' %>
            </div>
        <% end %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_game_award_path(@game,award), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),game_award_path(@game,award),:method => :delete,:data => { :confirm => 'Are you sure?' },:class => 'btn btn-default btn-xs btn-danger' %>
    <% end %>
</div>
