<%= form_for [@game,@award] do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @award} %>

    <%= f.hidden_field :character_id %>
    
    
    <div class="form-group">
    <%= f.label :comment %>

      <%= f.text_area :comment, :class => 'form-control',:rows=>'4' %>

  </div>
  <div class="form-group">
    <%= f.label :amount %>

      <%= f.text_field :amount, :class => 'form-control' %>

  </div>
  <div class="form-group">
    <%= f.label :currency_id %>
  
    <%= f.select :currency_id, options_from_collection_for_select(@game.currencies, "id", "name"), {},:class => 'form-control' %>

  </div>


    <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                game_awards_path(@game), :class => 'btn' %>

<% end %>
