
<% @award = Award.new %>
<% @award.member_id = member.id %>
<%= form_for [@game,@award], :html => { :class => 'form-horizontal' } do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @award} %>

<div class="control-group">
  <%= f.label :amount, :class => 'control-label' %>
  <div class="controls">
    <%= f.number_field :amount, :class => 'number_field', :step => 'any' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :currency_id, :class => 'control-label' %>
  <div class="controls">
    <%= f.select :currency_id, options_from_collection_for_select(@game.currencies, "id", "name"), :class => 'control-label' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :comment, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :comment, :class => 'text_area',:rows=>'4' %>
  </div>
</div>

<%= f.hidden_field(:member_id) %>

<div class="form-actions">
  <%= f.submit "Request Award", :class => 'btn btn-default btn-primary' %>
</div>
<% end %>



<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Award.human_attribute_name(:amount) %></th>
      <th>Currency</th>
      <th><%= Award.human_attribute_name(:comment) %></th>
      <th>Created By</th>
      <th>Approved By</th>
      <th><%= Award.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td colspan="8"><h3>Unassigned Awards</h3></td>
     <tr>
      <% member.unassigned_awards.each do |award| %>
      <tr>
        <td><%= award.amount %></td>
        <td><%= award.currency.name %></td>
        <td><%= award.comment %></td>
        <td><%= award.created_by.name %></td>
        <td><%= award.approved_by.name %></td>
        <td><%= award.created_at %></td>
        <td>

          <%= form_for [@game,award], :html => { :class => 'form-horizontal' } do |f| %>
          <div class="control-group">
            <%= f.label :character_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.select :character_id, options_from_collection_for_select(member.characters, "id", "name"), :class => 'control-label' %>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit "Assign Award", :class => 'btn btn-default btn-primary' %>
          </div>
          <% end %>


          <% if(@current_member.is_admin) %>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_game_award_path(@game,award), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          game_award_path(@game,award),
          :method => :delete,
          :data => { :confirm => 'Are you sure?' },
          :class => 'btn btn-default btn-xs btn-danger' %>

          <% end %>
        </td>
      </tr>
      <% end %>
      <tr>
       <td colspan="8">Pending Awards</td>
       <tr>
        <% member.pending_awards.each do |award| %>
        <tr>
          <td><%= award.amount %></td>
          <td><%= award.currency.name%></td>
          <td><%= award.comment %></td>
          <td><%= award.created_by.name %></td>
          <td></td>
          <td><%= award.created_at %></td>
          <% if(@current_member.is_admin) %>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_game_award_path(@game,award), :class => 'btn btn-default btn-xs' %>

            <%= form_for [@game,award], :html => { :class => 'form-horizontal' } do |f| %>
            <%= hidden_field_tag("award[approve]", "true") %>
            <%= f.submit "Approve", :class => 'btn btn-default btn-primary' %>
            <% end %>

            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            game_award_path(@game,award),
            :method => :delete,
            :data => { :confirm => 'Are you sure?' },
            :class => 'btn btn-default btn-xs btn-danger' %>
          </td>
          <% end %>
        </tr>
        <% end %>
        <tr>
         <td colspan="8"><h3>Assigned Awards</h3></td>
         <tr>
          <% member.characters.each do |char| %>
          <tr>
           <td colspan="8"><h4><%= char.name %></h4></td>
           <tr>
             <% char.awards(true).each do |award| %>
             <tr>
               <td><%= award.amount %></td>
               <td><%= award.currency.name %></td>
               <td><%= award.comment %></td>
               <td><%= award.created_by.name %></td>
               <td><%= award.approved_by.name %></td>
               <td><%= award.created_at %></td>
               <td>
                 <% if(@current_member.is_admin) %>
                 <%= form_for [@game,award], :html => { :class => 'form-horizontal' } do |f| %>
                 <div class="control-group">
                  <%= f.label :character_id, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.select :character_id, options_from_collection_for_select(member.characters, "id", "name"), :class => 'control-label' %>
                  </div>
                </div>
                <div class="form-actions">
                  <%= f.submit "Assign Award", :class => 'btn btn-default btn-primary' %>
                </div>
                <% end %>


                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_game_award_path(@game,award), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                game_award_path(@game,award),
                :method => :delete,
                :data => { :confirm => 'Are you sure?' },
                :class => 'btn btn-default btn-xs btn-danger' %>

                <% end %>
              </td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
