<div class="row">
<div class="twelvecol">

<%= form_for @game do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> 
        prohibited this character from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
<tr>
  <td><%= f.label :name %></td>
  <td><%= f.text_field :name %></td>
  <td><%= f.label :slug %></td>
  <td><%= f.text_field :slug %></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><%= submit_tag "Save Game" %></td>
</tr>
</table>
<% end %>

</div>
</div>
