
<div class="row">

<div class="twelvecol">

<h1>Administrate Games</h1>

<ul>
  <% @games.each do |g| %>
    <li><%= g.name %>
        <%= link_to "[Characters]", game_characters_path(g) %>
        <%= link_to "[View]", game_path(g) %>
        <%= link_to "[Edit]", edit_game_path(g) %>
    </li>
  <% end %> 
</ul>

<p><%= link_to "Add Game", new_game_path %></p>

</div>
</div>
