
<div class="row">
  <div class="twelvecol last">
    <h1>Game Dashboard</h2>
  </div>
</div>

<div class="row">

<div class="sixcol">

<h2>Your Characters</h2>

<% @characters.each do |character| %>
<p><%= character.name %></p>
<% end %>

<p><%= link_to "Create Character", new_game_character_path(@game) %></p>

</div>

<div class="sixcol last">

<h2>Events</h2>

<ul>
<% @game.events.each do |event| %>
  <li><%= event.date %> <%= event.site %>
      <%= link_to "[View]", game_event_path(@game, event) %></li>
<% end %>
</ul>

<% if @logged_in_user.game_admin?(@game) %>
<%= link_to "New Event", new_game_event_path(@game) %>
<% end %>

</div>

</div>

<% if @logged_in_user.game_admin?(@game) %>

<div class="row">

<div class="sixcol">

<% unless @members.nil? %>

<h2>Game Members</h2>

<% @game.members.each do |member| %>
  <li><%= member.name %>
      <%= link_to "[View]", game_member_path(@game, member) %></li>
<% end %>
</ul>

<% end %>

</div>

<div class="sixcol last">

<h2>Game Settings</h2>

</div>

</div>

<% end %>
