<div class="row">
  <div class="col-md-9">
    <h1><%= @game.name %> Dashboard</h2>
  </div>
</div>

<% if(@current_member == nil) %>
  <div class="row">
    <div class="col-md-9">
    
    <div class="alert alert-success">
    <div id="flash_notice">You are not currently a member of this game. Becoming a member will allow you to create characters and register for events. This will also allow game admins to see your contact information.
<% @member = Member.new(:user_id => current_user.id, :game_id => @game.id) %>
<%= form_for [@game,@member], :html => { :class => 'form-horizontal' } do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @member} %>
<%= f.hidden_field :game_id %>  
<%= f.hidden_field :user_id %>
    <div class="row">
    <div class="col-md-9">
      <%= f.submit "Become a member!", :class => 'btn btn-default btn-primary' %>
    </div></div>

<% end %>

    </div>
  </div>
      
    </div>
  </div>
<% else %>

<div class="row">

<div class="col-md-6">

<h2>Your Characters</h2>

<% @current_member.characters.each do |character| %>
<p><%= link_to character.name, game_character_path(@game,character) %></p>
<% end %>

<p><%= link_to "Create Character", new_game_character_path(@game) %></p>

</div>

<div class="col-md-6">

<h2><%= link_to "Events", game_events_path(@game) %></h2>

<ul>
<% @game.events.each do |event| %>
  <li><%= event.start_date.to_formatted_s(:long) %> - <%= event.site %></li>
<% end %>
</ul>



</div>

</div>

<% if current_user.game_admin?(@game) %>

<div class="row">

<div class="col-md-6">

<% unless @members.nil? %>

<h2>Game Members</h2>

<% @game.members.each do |member| %>
  <li><%= member.name %>
      <%= link_to "[View]", game_member_path(@game, member) %></li>
<% end %>
</ul>

<% end %>

</div>

<div class="col-md-6">

<h2>Game Settings</h2>

</div>

</div>

<% end %>

<% end %>