<%= form_for [@game,@character] do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @character} %>

    <legend><%= controller.action_name.capitalize %> /Character</legend>

    <div class="form-group">
      <%= f.label :name %>

        <%= f.text_field :name, :class => 'form-control' %>

    </div>
      <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
      <%= link_to 'Cancel', game_characters_path(@game), :class => 'btn' %>

<% end %>
