<%= form_for [@game, @character] do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> 
        prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <% unless @users.nil? %>
      <p>
      <%= f.label :player %> 
      <%= select_tag :user_id, options_from_collection_for_select(@users, "id", "name_and_email") %>
      </p>
    <% end %>

    <p>
      <%= f.label :name %> <%= f.text_field :name %>
      <%= f.submit %>
    </p>
  </div>
<% end %>
