<% content_for :extra_js do %>
  <%= javascript_include_tag 'http://jashkenas.github.io/underscore/underscore-min.js' %>  
  <%= javascript_include_tag 'http://documentcloud.github.io/backbone/backbone-min.js' %>
  <%= javascript_include_tag 'characterDisplay.js' %>
  <%= javascript_include_tag 'characterRules.js' %>
<% end %>




<div id="characteInfo"></div>


<% @page_title = "Edit Character" %>
<%= text_field_tag 'search', nil, :placeholder => 'Enter search term...' %>
<div id="searchedTags"></div>
<div id='skillList'></div>


<script type="text/javascript">
  
  var consts = {charId: <%= @character.id %>, game_url:'<%= url_for(@game) %>'}
  
  var myCurrencies = <%= @character.awards.group("currency_id").sum("amount").to_json().html_safe %>;
  
</script>
