<% content_for :extra_js do %>

<%= javascript_include_tag 'character_edit' %>

<% end %>


<div  ng-app="chareditApp">
<div ng-controller="SkillListCrl">
<ul>
	<li ng-repeat="currency in currencies">{{currency.remaining}}{{currency.shortname}} / {{currency.total}}{{currency.shortname}}</li>
</ul>

	Search: <input ng-model="query">
	<ul class="skill-tags">
		<li ng-repeat="tag in filterTags" href="#" class="label label-default" ng-click="tagUnClick(tag)">{{tag.name}}</li>
	</ul>
	<ul class="container">
		<li class="skill" ng-repeat="skill in skills | filter:query | filter:tagFilter">
			<div class="skill-controls">
				<div class="skill-controls-plusMinus">
					<span class="glyphicon glyphicon-minus" ng-click="subtractRank(skill)"></span>
					<span class="skillRank">{{skill.rank}}</span>
					<span class="glyphicon glyphicon-plus" ng-click="addRank(skill)"></span>
				</div>
			</div>
			<div class="skill-info">
				<span class="skill-info-name h2">{{skill.name}}</span>
				<span class="skill-info-cost">{{getCost(skill)}}</span>
				<span class="skill-info-shortDescription">{{skill.summary}}</span>
				<span class="skill-info-moreInfo"><span href="#" class="" ng-hide='skill.description==""'  ng-click="showModal(skill)"><i class="glyphicon glyphicon-info-sign"></i></span></span>
			</div>
			<ul class="skill-tags">
				<li ng-repeat="skill_tag in skill.skill_tags" href="#" class="label label-default" ng-click="tagClick(skill_tag.tag)">{{skill_tag.tag.name}}</li>
			</ul>
		</li>

	</ul> <!-- /container -->



</div>
</div>


<!-- Modal -->
<div id='more-info-modal' class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<style>
	.skill div{
		display:inline;
	}
	.skill-tags li{display:inline; margin-right:4px;}
</style>
<script type="text/javascript">

	var skillsUrl = '<%= game_character_path(@game,@character) %>';

	var consts = {charId: <%= @character.id %>, game_url:'<%= url_for(@game) %>'};

	var myCurrencies = <%= @character.awards.joins(:currency).group('currencies.short_name').sum(:amount).to_json().html_safe %>;





</script>
