<% content_for :extra_js do %>
	<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js' %>
	<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js' %>
	<%= javascript_include_tag 'http://code.angularjs.org/1.2.12/angular-resource.js' %>
	<%= javascript_include_tag 'http://code.angularjs.org/1.2.12/angular-route.js' %>

	<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js" %>
	<%= javascript_include_tag 'https://dl.dropboxusercontent.com/u/1454343/bootstrap/assets/js/app.js' %>  
	<%= javascript_include_tag 'https://dl.dropboxusercontent.com/u/1454343/bootstrap/assets/js/services.js' %>  
  <%= javascript_include_tag 'https://dl.dropboxusercontent.com/u/1454343/bootstrap/assets/js/controllers.js' %>  
  <%= javascript_include_tag 'https://dl.dropboxusercontent.com/u/1454343/bootstrap/assets/js/filters.js' %>  

<% end %>


<div  ng-app="chareditApp"><div ng-controller="SkillListCrl">



	Search: <input ng-model="query">
    <ul class="container">
	
    <li class="skill" ng-repeat="skill in skills | filter:query">
		<div class="skill-controls">
			<div class="skill-controls-plusMinus">
				<a class="glyphicon glyphicon-minus" ng-click="addRank(skill)" href="#"></a>
				<span class="skillRank">{{skill.rank}}</span>
				<a class="glyphicon glyphicon-plus" ng-click="addRank(skill)" href="#"></a>
			</div>
		</div>
		<div class="skill-info">
			<span class="skill-info-cost">13CP</span>
			<span class="skill-info-name">{{skill.name}}</span>
			<span class="skill-info-shortDescription">{{skill.summary}}</span>
			<span class="skill-info-moreInfo"><a href="#" class="" rel="popover" data-content="{{skill.description}}" data-original-title="{{skill.name}}"><i class="icon-info-sign"></i></a></span>
		</div>
		<ul class="skill-tags">
			<li ng-repeat="tag in skill.tags" href="#" class="label label-default">{{tag.name}}</li>
		</ul>
	</li>
    
    </ul> <!-- /container -->



</div></div>



		<style>
		.skill div{
			display:inline;
		}
    .skill-tags li{display:inline; margin-right:4px;}
	</style>
<script type="text/javascript">

  var skillsUrl = '<%= game_character_path(@game,@character) %>';
  
  var consts = {charId: <%= @character.id %>, game_url:'<%= url_for(@game) %>'};
  
  var myCurrencies = <%= @character.awards.group("currency_id").sum("amount").to_json().html_safe %>;




  
</script>
