


<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "LarpTool", root_path, :class=>"navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
     <!-- figure out  class="active" -->
      <% if !@current_member.nil? %>
      <li><%= link_to @game.name, game_path(@game) %></li>
      <li><%= link_to "Characters", game_characters_path(@game) %></li>
      <li><%= link_to "Events", game_events_path(@game) %></li>
      <li><%= link_to "Awards", game_awards_path(@game) %></li>
      <% if(@current_member.is_admin) %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Currencies", game_currencies_path(@game) %></li>
          <li><%= link_to "Members", game_members_path(@game) %></li>
          <li><%= link_to "Skills", game_skills_path(@game) %></li>
          <li><%= link_to "Tags", game_tags_path(@game) %></li>
        </ul>
      </li>
      <% end %>
      <% end %>
    </ul>
    <!--  perhaps we will have the login form here?
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    -->
    <ul class="nav navbar-nav navbar-right">
      <% if !logged_in? %>
      <li><%= link_to "Log In", '/main/login',  :class=>"navbar-link" %></li>
      <% else %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Log Out", '/main/logout' %></li>
          <li role="presentation" class="dropdown-header">My Games</li>
          <% current_user.games.each do |mg| %>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= game_path(mg) %>"><%= mg.name %></a></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>













