<!DOCTYPE html>
<html>
<head>
  <title>Cdb3</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:alert].nil? %>
  <p class="error_message">Error: <%= flash[:alert] %></p>
<% end %>

<%= yield %>

</body>
</html>
