<!DOCTYPE html>
<html>
<head>
  <title>Cdb3</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="row">
  <div class="twelvecol last main_logo">
    <%= image_tag "main_logo.png" %>
  </div>
</div>

<div class="row">
  <div class="threecol">&nbsp;</div>
  
  <div class="sixcol">
    <% unless flash[:alert].nil? %>
      <p class="flash_alert_message">Error: <%= flash[:alert] %></p>
    <% end %>

    <% if flash[:notice] %>
      <p class="flash_notice_message">Notice: <%= flash[:notice] %></p>
    <% end %>
  </div>

  <div class="threecol last">&nbsp;</div>
</div>

<%= yield %>

<%= render 'layouts/foot.html.erb' %>

</div>

</body>
</html>
