<%= form_for [@game,@member] do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:item => @member} %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Member <%= @member.id.nil? ? "":@member.name%></legend>

    <div class="form-group">
      <%= f.label :game_admin %>
      <div class="controls">
        <%= f.check_box :game_admin, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
      <%= link_to 'Cancel', game_members_path(@game), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
