<div class="row">
<div class="twelvecol last">

<h1>Listing members</h1>

<table>
<% @members.each do |member| %>
  <tr>
    <td><%= member.user.name %></td>
    <td><%= member.game.name %></td>
    <td><%= link_to 'Show', game_member_path(@game, member) %></td>
    <td><%= link_to 'Edit', edit_game_member_path(@game, member) %></td>
    <td><%= link_to 'Destroy', game_member_path(@game, member), 
            confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_game_member_path(@game) %>

</div>
</div>
