<h1>/Member</h1>

<p>
  <b>User</b><br>
  <%= @member.name %>
</p>

<p>
  <b>Game</b><br>
  <%= @member.game.name %>
</p>

<p>
  <b>Game admin</b><br>
  <%= @member.game_admin %>
</p>

<div class="form-actions">
  <%= link_to 'Back', game_members_path(@game), :class => 'btn'  %>
  <%= link_to 'Edit', edit_game_member_path(@game,@member), :class => 'btn' %>
  <%= link_to 'Delete', game_member_path(@game,@member), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-default btn-danger' %>
</div>


<%= render :partial => 'awards/list', :locals => {:member => @member} %>



<h1>Characters</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @member.characters.each do |character| %>
      <tr>
        <td><%= character.id %></td>
        <td><%= link_to character.name, game_character_path(@game,character) %></td>
        <td><%= character.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_game_character_path(@game,character), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', game_character_path(@game,character), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-default btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
