<h1>/Member</h1>

<p>
  <b>User</b><br>
  <%= @member.user_id %>
</p>

<p>
  <b>Game</b><br>
  <%= @member.game_id %>
</p>

<p>
  <b>Game admin</b><br>
  <%= @member.game_admin %>
</p>

<div class="form-actions">
  <%= link_to 'Back', game_members_path(@game), :class => 'btn'  %>
  <%= link_to 'Edit', edit_game_member_path(@game,@member), :class => 'btn' %>
  <%= link_to 'Delete', game_member_path(@game,@member), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
